Repository chili-publish/studio-connector-framework, pull requests merged in 2025-02, with the labels that each got.

#100 [Fix] Update license date
  LICENSE
Labels: documentation

#102 [Fix][AEM] Fixed unauhtorized behavior using custom User Agent
  src/connectors/adobe-experience-manager/connector.ts
Labels: connector-change, adobe-experience-manager

#104 [Fix] Send custom "user-agent" header for 'download'
  src/connectors/adobe-experience-manager/connector.ts
Labels: connector-change, adobe-experience-manager

#103 [Fix][WRS-2311] Handle inserted empty rows correctly
  src/connectors/google-sheet/connector.ts
Labels: connector-change, google-sheet

#99 Canto Connector
  src/connectors/canto/README.md
  src/connectors/canto/connector.ts
  src/connectors/canto/docs/sch01.png
  src/connectors/canto/docs/sch02.png
  src/connectors/canto/docs/sch07.png
  src/connectors/canto/docs/sch08.png
  src/connectors/canto/docs/sch09.png
  src/connectors/canto/docs/sch12.png
  src/connectors/canto/docs/sch13.jpg
  src/connectors/canto/docs/var01.png
  src/connectors/canto/package.json
  src/connectors/canto/tests.json
  src/connectors/canto/tsconfig.json
Labels: connector-change, canto

#106 [Fix] Add logo to Canto connector
  src/connectors/canto/package.json
Labels: connector-change, canto

#107 Update package.json for Canto connector with proper author
  src/connectors/canto/package.json
Labels: connector-change, canto
