Repository chili-publish/studio-connector-framework, pull requests merged in 2025-04, with the labels that each got.

#121 [Feat][WRS-2398] Add runtime option "rootPath" for AEM connector
  src/connectors/adobe-experience-manager/connector.ts
  src/connectors/adobe-experience-manager/package.json
  src/connectors/adobe-experience-manager/readme.md
Labels: connector-change, adobe-experience-manager

#120 [Fix][WRS-2365] Remove limitations on columns range for spreadhseet document
  src/connectors/google-sheet/CHANGELOG.md
  src/connectors/google-sheet/connector.ts
  src/connectors/google-sheet/package.json
  src/connectors/google-sheet/readme.md
Labels: connector-change, google-sheet

#123 Feature/keepeek connector
  src/connectors/keepeek/connector.ts
  src/connectors/keepeek/package.json
Labels: connector-change, keepeek

#124 [Fix] AEM fallback rendition
  src/connectors/adobe-experience-manager/connector.ts
  src/connectors/adobe-experience-manager/package.json
Labels: connector-change, adobe-experience-manager

#126 [Fix] Support of native engine formats for output - PNG/JPEG/PDF
  src/connectors/adobe-experience-manager/connector.ts
  src/connectors/adobe-experience-manager/package.json
  src/connectors/adobe-experience-manager/readme.md
Labels: connector-change, adobe-experience-manager

#130 [Release] Prepare for Keepeek connector release
  src/connectors/keepeek/package.json
Labels: connector-change, keepeek
